@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #ffff;
  font-family: "Rubik", sans-serif;
  color: #303841;
}
.wave {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 860px;
  margin: 0 auto;
}

.wave::before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  animation: wave 8s ease-in-out infinite alternate;
}

@keyframes wave {
  0% {
    transform: translateY(0%) translateX(-50%) skewY(-8deg);
  }
  50% {
    transform: translateY(5%) translateX(-50%) skewY(-8deg);
  }
  100% {
    transform: translateY(0%) translateX(-50%) skewY(-8deg);
  }
}

.products,
.cart {
  overflow-y: auto;
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
    0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
    0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
    0 81px 81px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
}
.cart::before,
.products::before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}

.cart_img img {
  max-width: none;
  display: block;
  width: 140%;


  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
}

.scrollBar::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh cuộn */
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #fff; /* Màu nền của thanh cuộn */
  border-radius: 1px; /* Đường viền cong của thanh cuộn */
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background-color: #fff; /* Màu nền khi hover */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}